@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 239, 232, 219;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #2c322b;
}

.animate-underline-from-center:after {
  display: block;
  content: "";
  border-bottom: solid 0.25rem currentColor;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-radius: 0.25rem;
}

.animate-underline-from-center:hover:after {
  transform: scaleX(1);
}

.text-shadow {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.path .animated {  
  stroke-dashoffset: 0;
  animation: dash 3s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}