@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 239, 232, 219;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(111, 8%, 18%);
}

.text-outline-black {
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
    -1px 1px black;
  -webkit-text-stroke: 0.0625rem black;
}

.animate-underline-from-center:after {
  display: block;
  content: "";
  border-bottom: solid 0.17rem currentColor;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-radius: 0.17rem;
}

.animate-underline-from-center:hover:after {
  transform: scaleX(1);
}

.text-shadow {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#about .path {
  height: 100%;
}

.path .animated {
  animation: dash 1s linear forwards;
}

.grid-paper-pattern {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzE5NV81KSI+CjxwYXRoIGQ9Ik0xMCAwSDBWMTBIMTBWMFoiIGZpbGw9IiMyMTE5MTUiLz4KPHBhdGggZD0iTTggMEgwVjhIOFYwWiIgZmlsbD0iIzM4NDEzNiIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzE5NV81Ij4KPHJlY3Qgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=");
  background-repeat: repeat;
  background-position-x: right;
  background-position-y: bottom;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}